.api {
  &-box {
    display: flex;
    height: 100%;
    padding: 6px 0;
    box-sizing: border-box;
  }
  &-menu {
    min-width: 200px;
    width: 30%;
    max-width: 240px;
    height: 100%;
    border-right: $border;
  }
  &-view {
    width: 100%;
    display: flex;
  }
  &-context {
    width: 100%;
    &-box {
      padding: 24px 0;
    }
  }
}
