.code {
  &-box {
    display: flex;
    height: 100%;
    padding: 6px 0;
    box-sizing: border-box;
  }
  &-main {
    width: 100%;
    text-align: left;
    padding-right: 40px;
  }
}
.code-editor-box {
  .editor-content {
    .CodeMirror {
      height: 400px;
    }
  }
}

@media (min-height: 840px) {
  .code-editor-box {
    .editor-content {
      .CodeMirror {
        height: 500px;
      }
    }
  }
}

@media (min-height: 900px) {
  .code-editor-box {
    .editor-content {
      .CodeMirror {
        height: 640px;
      }
    }
  }
}
