$sub_text_color: #bdc1c0;
$base_text_color: #202121;

$color_txt_yellow: #ffc400;
$color_txt_green: #00da6d;
$color_txt_blue: #075cff;
$color_txt_white: #fff;

$border: 1px solid #ccc;

$theme_main: #3f51b5;

$success: $color_txt_green;
$info: $color_txt_blue;
$error: #f50057;
$success_txt: #00d76b;
$error_txt: $error;

$base_bg: #e0e0e0;
