$sub_text_color: #bdc1c0;
$base_text_color: #202121;

$color_txt_yellow: #ffc400;
$color_txt_green: #00da6d;
$color_txt_blue: #075cff;
$color_txt_white: #fff;

$border: 1px solid #ccc;

$theme_main: #3f51b5;

$success: #43a047;
$info: #1976d2;
$error: #d32f2f;
$warn: #ffa000;
$success_txt: $success;
$error_txt: $error;

$base_bg: #e0e0e0;
$sub_bg: #fff9d3;
$pink_bg: #ffd1eb;
@mixin border-radius {
  border-radius: 4px;
}

@mixin border($position) {
  @each $p in $position {
    @if $p == left {
      border-left: $border;
    }
    @if $p == top {
      border-top: $border;
    }
    @if $p == right {
      border-right: $border;
    }
    @if $p == bottom {
      border-bottom: $border;
    }
  }
}
