.message {
  // &-box {
  //   width: 100%;
  //   text-align: left;
  // }
  &-box {
    &-error > .MuiSnackbarContent-root {
      background-color: $error;
    }
    &-info > .MuiSnackbarContent-root {
      background-color: $info;
    }
    &-success > .MuiSnackbarContent-root {
      background-color: $success;
    }
    &-warn > .MuiSnackbarContent-root {
      background-color: $warn;
    }
  }
  &-content-txt {
    & > svg {
      margin-right: 8px;
    }
    display: flex;
    align-items: center;
  }
}

.editor-content {
  text-align: left;
  & > .CodeMirror {
    @include border-radius;
  }
}

.collector-button {
  text-align: right;
  margin-bottom: 40px;
}

.collector-box {
  width: 320px;
}
