$margin: 40px;
.formInput {
  background-color: #f5f5f5;
  padding: 18px 24px;
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 600px;
  width: 100%;
}

.items {
  margin-top: $margin;
}

.expressionInput {
  width: 100%;
}

.apiInput {
  width: calc(50% - 16px);
  margin-bottom: 16px;
  & + & {
    margin-left: 31px;
  }
}

.radioLabel {
  margin-left: 0px;
  margin-right: 12px;
}

.radio {
  display: block;
}
