.history-box {
  min-width: 320px;
}
.result {
  &-card {
    text-align: left;
    & + & {
      margin-top: 18px;
    }
    &-item {
      margin: 4px 0;
      display: flex;
    }
  }
  &-success {
    background-color: $success !important;
  }
  &-error {
    background-color: $error !important;
  }
  &-active {
    &-success {
      color: $success_txt;
    }
    &-error {
      color: $error_txt;
    }
  }
}

.card-item {
  &-root {
    background-color: $sub_bg;
    padding: 0 6px;
    width: 84px;
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis; //溢出用省略号显示
    white-space: nowrap; //溢出不换行
    &.async {
      background-color: $pink_bg;
    }
  }
  &-time {
    margin-left: 12px;
    font-size: 12px;
    color: #666;
  }
}
