.layout {
  &-header {
    &-nav {
      padding: 8px 14px;
      display: flex;
      justify-content: center;
      a {
        color: $base_text_color;
      }
    }
  }
}
.nav {
  &-button {
    border-radius: 4px !important;
  }
  &-box {
    box-sizing: border-box;
    width: calc(100vw - 28px);
    border-radius: 4px;
    padding: 12px;
    background-color: #ffffff;

    &-text {
      font-size: 18px;
      margin: 0;
      font-weight: bold;
      line-height: 1.8;
    }
    &-subText {
      font-size: 12px;
      color: $sub_text_color;
    }
  }
}

@each $color in black, red, green, blue {
  .nav-box.#{$color} {
    .nav-box-text {
      @if $color == black {
        color: $color_txt_black;
      } @else if $color == red {
        color: $color_txt_red;
      } @else if $color == green {
        color: $color_txt_green;
      } @else if $color == blue {
        color: $color_txt_blue;
      } @else {
        color: $color_txt_black;
      }
    }
  }
}
