.layout {
  &-header {
    &-nav {
      padding: 8px 14px;
      display: flex;
      justify-content: center;
      a {
        color: #fff;
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
  }
}
.nav {
  &-button {
    @include border-radius;
  }
  &-box {
    box-sizing: border-box;
    width: calc(100vw - 28px);
    @include border-radius;
    padding: 12px;
    background-color: #1d1d1d;

    &-text {
      font-size: 18px;
      margin: 0;
      font-weight: bold;
      line-height: 1.8;
    }
    &-subText {
      font-size: 12px;
      color: $sub_text_color;
    }
  }
}

.footer-nav {
  padding: 6px 0;
  color: #fff;
  .nav-box-subText {
    color: #808080;
  }
  .nav-box {
    padding: 8px;
  }
}

@each $color in white, yellow, green, blue {
  .nav-box.#{$color} {
    .nav-box-text {
      @if $color == white {
        color: $color_txt_white;
      } @else if $color == yellow {
        color: $color_txt_yellow;
      } @else if $color == green {
        color: $color_txt_green;
      } @else if $color == blue {
        color: #558dff;
      } @else {
        color: $color_txt_white;
      }
    }
  }
}
